body{
  margin: 0;
  padding:0;
  background-color: teal;
}
.logo{
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(50% 50%);
  background-color: salmon;
  width: 208px;
  height: 198px;
  border-radius: 50% 50% 41% 41% / 42% 42% 75% 75%;
}
.leaf{
  background-color: salmon;
  content: "";
  width:55px;
  height:55px;
  position: absolute;
  margin: -51px 0 0 100px;
  border-radius: 100px 0;
  z-index: 5;
}
