*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: darkolivegreen;
}
.board{
  width: 800px;
  margin: 50px auto;
}
.pink{
  width: 100px;
  height: 100px;
  background-color: moccasin;
  float: left;
}
.green{
  width: 100px;
  height: 100px;
  background-color: indigo;
  float: left;
}
.colum{
  width: 800px;
  display:block;
  margin-right: auto;
  margin-left: auto;
}
.color1{
  background-color: firebrick;
}
header{
  background-color:black;
  padding: 25px 100px;
  margin-bottom:  20px;
}
.colum1{
  width: 250px;
  height: 500px;
  background-color: black;
}
.colum2{
  width: 250px;
  height: 500px;
  background-color: white;
  margin-right: 25px;
  margin-left: 25px;
}
.colum3{
  width: 250px;
  height: 500px;
  background-color: black;
}
footer{
  background-color:black;
  padding: 25px 100px;
margin-top: 535px;
}
.colum{
  width: 800px;
  display:block;
  margin-right: auto;
  margin-left: auto;
}
.color2{
  background-color: aliceblue;
}
header{
  background-color:teal;
  padding: 25px 100px;
  margin-bottom:  15px;
}
.big1{
  width: 400px;
  height: 400px;
  background-color: teal;
  margin-top: 60px;
}
.info{
  width:400px;
  height:50px;
  margin-top: 25px;
  background-color: lightsalmon;
}
.small1{
  width: 200px;
  height: 200px;
  background-color: lightsalmon;
  margin-top: -400px;
  float: right;
}
.big1{
  width: 400px;
  height: 400px;
  background-color: teal;
  margin-top: 60px;
}
.small1{
  width: 200px;
  height: 200px;
  background-color: lightsalmon;
  margin-top: -400px;
  float: right;
}
.info{
  width:400px;
  height:50px;
  margin-top: 25px;
  background-color: lightsalmon;
}
.big1{
  width: 400px;
  height: 400px;
  background-color: teal;
  margin-top: 60px;
}
.info{
  width:400px;
  height:50px;
  margin-top: 25px;
  background-color: lightsalmon;
}
.small1{
  width: 200px;
  height: 200px;
  background-color: lightsalmon;
  margin-top: -400px;
  float: right;
}
.big1{
  width: 400px;
  height: 400px;
  background-color: teal;
  margin-top: 60px;
}
.small1{
  width: 200px;
  height: 200px;
  background-color: lightsalmon;
  margin-top: -400px;
  float: right;
}
.info{
  width:400px;
  height:50px;
  margin-top: 25px;
  background-color: lightsalmon;
}
