*{
  box-sizing: border-box;
}
body{
  background-color: black;
  color: firebrick;
  margin: 0;
}
.velvetvelvet{
  color: Crimson;
  padding: 25px 100px;
  font-size: 100px;
  font-family: 'Atomic Age', cursive;
  text-align: center;
}
.local{
  font-size: 50px;
  font-family: 'Atomic Age', cursive;
  margin-right: 1100px;
  margin-bottom: 100px;
}
nav{
  font-size: 30px;
  text-align: center;
}
li{
  display: inline;
}
img{
  width: 300px;
  height: 300px;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 100px;
  row-gap: 200px;
  justify-content: center;
}
/*about page starts here*/
header{
  background-color: Crimson;
  color: black;
  padding: 25px 100px;
  font-family: 'Atomic Age', cursive;
  font-size: 30px;
  text-align: center;
}
nav{
  font-size: 30px;
  text-align: center;
}
li{
  display: inline;
}
p{
  color: white;
  text-align: left;
}
h1{
  font-family: 'Atomic Age', cursive;
}
.about{
  width: 500px;
  height: 500px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 150px;
  margin-bottom: 150px;
  float: left;
}
.hours{
  width: 500px;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  float: right;
}
/*Exhibition page*/
h1{
    font-family: 'Atomic Age', cursive;
    font-size: 50px;
    text-align: center;
}
p{
  color: white;
  text-align: center;
}
h2{
  color: white;
  font-size: 30px;
  text-align: center;
}
.image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 500px;
}
.image2{
  width: 450px;
  height: 600px;
}
.image3{
  width: 450px;
  height: 600px;
}
.image4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 500px;
}
/*shop page*/
h1{
  color:firebrick;
    font-family: 'Atomic Age', cursive;
    font-size: 80px;
    text-align: center;
}
.shop-image1{
  overflow: hidden;
  width: 1500px;
  height: 550px;
  margin-top: 200px;
}
.inner{
  overflow: hidden;
  width: 1500px;
  height: 550px;
}
.img1{
  width:50px;
  height:50px;
  margin-left: 150px;
  float:left;
}
.img2{
  width:50px;
  height:50px;
  margin-right: 400px;
  margin-left: 400px;
  float: left;
}
.img3{
  width:50px;
  height:50px;
  float: left;
}
.shop-text1{
  font-size: 25px;
  text-align: left;
  float:left;
  margin-left: 50px;
  margin-right: 50px;
}
.price1{
  font-size: 25px;
  text-align: left;
  float:left;
  margin-left: 50px;
  margin-right: 50px;
}
.shop-image1{
  overflow: hidden;
  width: 1500px;
  height: 550px;
  margin-top: 200px;
}
.inner2{
  overflow: hidden;
  width: 1500px;
  height: 550px;
}
.img4{
  width:50px;
  height:50px;
  margin-left: 150px;
  float:left;
}
.img5{
  width:50px;
  height:50px;
  margin-right: 400px;
  margin-left: 400px;
  float: left;
}
.img6{
  width:50px;
  height:50px;
  float: left;
}
