*{
  box-sizing: border-box;
}
body{
  background-color: black;
  color: firebrick;
  margin: 0;
}
.velvetvelvet{
  color: Crimson;
  padding: 25px 100px;
  font-family: magneto, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-top: 20px;
}
hr{
  color: Crimson;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0;
  border-top: 5px dotted;
}
.local{
  width: 500px;
  margin-right: 1100px;
  margin-bottom: 100px;
}
.title{
  width: 500px;
  font-size: 50px;
  font-family: magneto, sans-serif;
  font-style: normal;
  font-weight: 700;
}
nav{
  font-size: 30px;
  text-align: center;
}
li{
  display: inline;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}
.description p{
  width:100%;
  color: white;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
.gallery img{
  width: 450px;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 100px;
  row-gap: 200px;
  justify-content: center;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.art1{
  height: 350px;
}
/*about page starts here*/
header{
  background-color: Crimson;
  color: black;
  padding: 25px 100px;
  font-family: 'Atomic Age', cursive;
  font-size: 30px;
  text-align: center;
}
nav{
  font-size: 30px;
  text-align: center;
}
li{
  display: inline;
}
p{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}
h1{
  font-family: magneto, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.about{
  width: 500px;
  height: 500px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 150px;
  margin-bottom: 150px;
  float: left;
}
.hours{
  width: 500px;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:100px;
  margin-bottom:100px;
  float: right;
}
.contact{
  width: 500px;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:100px;
  margin-bottom:100px;
  float: right;
}
/*Exhibition page*/
h1{
    font-size: 50px;
    text-align: center;
}
h2{
  color: white;
  font-size: 30px;
  text-align: center;
}
.image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 1000px;
  height: 500px;
}
.image2{
  display: block;
  width: 450px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.image3{
  display: block;
  width: 450px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.image4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 1000px;
  height: 500px;
}
/*shop page*/
h1{
  color:firebrick;
  font-family: magneto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}
.shop-image1{
  width: 70%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flow-root;
}
.inner{
  width: 100%;
  display: flex;
  align-items: baseline;
}
.img1{
  width: calc((100% - 100px) / 3);
  float:left;
}
img{
  width:100%;
}
.margin{
  margin-left: 50px;
  margin-right: 50px;
}
.shop-text1{
  font-size: 25px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.price1{
  font-size: 40px;
  text-align: center;
  color: Crimson;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
