body{
  margin: 0;
  overflow-x:hidden;
}
main{
  width: 150vw;
  margin:-20vw;
}
.shape1{
  width: 500px;
  height: 500px;
  background-color: lemonchiffon;
  float: left;

}
.shape2{
  width: 100px;
  height: 100px;
  background-color: thistle;
  float:left;
}
.shape3{
  width: 150px;
  height: 150px;
  background-color: honeydew;
  float: left;
}
